<style type="text/css">
	
</style>
<h1 class="mt-4">Dashboard</h1>
<a href="/del" class="btn btn-primary my-1">Delete</a>
 <h4>Total In  : <%= main.totinvt %></h4>
 <h4>Remaining : <%= main.ourbal %></h4>

<details class="lead mb-3">Name :  <%= user %></details>


<div class="row listt">
	
</div>
<script type="text/javascript">
var users=<%- JSON.stringify(user) %>
var html=[]
users.forEach((user)=>{

html.push(`<div class="col-6 card" >
		<div class="name " >Name : ${user.name}</div>
		<div class="email">${user.email} - - - - - ${user.amtinvt}</div>
		<h5 class="act ">Activated : ${user.activated} - - - - - - - - <b>${user.refbal}</b>- - - <b>${user.othbal}</b></h5>
		</div>`)
})
document.querySelector('.listt').innerHTML=html.join('')
</script>


